/* 自己設的 */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* 自己設的 */
.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 參考w3c card */
.cart {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* 當初btn都是自己設的綠色為了登入 */
.btn {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px;
}
.btnbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
/* 參考教程後自己寫要幾col */
.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}
/* tittle */
.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

