.ad {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ad img {
    height: 300px;
    width: 1200px;
    object-fit: cover;
    display: flex;
}

.ad img2 {
    height: 700px;
    object-fit: cover;
}
/* 參考教程自己設 */
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 參考教程沒反轉沒用到 */
.between reverse {
    flex-direction: colume-reverse;
}
/* 測試object屬性 */
img {
    object-fit: contain;
}
/* 當初配合signin搬過來的 */
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
/* 同上 margin好像是一開始用ad我想用position但圖片會遮到*/
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 50px;
}
/* .main 用ad一開始圖片限制大小的後來留下來了*/
.main {
    padding: 0 auto;
    margin: 0px 200px;
    display: block;
}
/* 圖片置中 */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

.side-left img{
    width: 1200px;
    height: 300px;
    object-fit: cover;
    display: flex;
}

.side-right img{
    width: 1200px;
    height: 300px;
    object-fit: cover;
    display: flex;
}

.in-button{
    border: 0px;
    height: 20px;
    border-radius: 5%;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    width: 100px;
    padding-top: 15px;
  }
