img{
    object-fit: cover; /*剪裁以適應圖片大小*/
}

.about img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.name{
    padding:12px;
    font-weight:bold;
    font-size:30px;
    text-align: center;
}

.social i{
    padding: 10px;
    font-size: 45px;
    color: lightgray;
    float: left;
    text-align: center;
}

