/* row排下去 */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* 側邊取消樣式 */
ul {
    list-style: none;
}
/* 參考w3s pill-nav */
.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.pill-nav a:hover {
    background-color: #ddd;
    color: black;
}
/* 更改背景顏色符合主題 */
.pill-nav a.active {
    background-color: black;
    color: white;
}
/* 查grid */
.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns:repeat(auto-fit, 1fr);
}
/* tittle */
.box {
    grid-column-start: 2;
    grid-column-end: 6;
}
/* 側邊欄 第二條線起 寫錯 */
.box1 {
    display: grid;
    grid-column-start: 2;
}
/* col 第三條線-第六條 */
.box2 {
    grid-column-start:3;
    /* grid-column-end: 6; */
}

.box2 {
    margin-left: 3;
}
/* grid-item 裡面分三列出來 */
.box3 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns:repeat(3, 1fr);
}
/* 後來找到如何fit圖片 */
.box3 img{
    width: 100%;
    height: auto;
}
.card {
    padding: 20px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* row */
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
/* 自行設定card tittle 商品名稱 */
.card-title{
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
}