.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}
ul{
  list-style: none;
}

.btn {
  background: #42b72a;
  color: white;
}

.card {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin: auto;
  text-align: center;
  font-family: arial;
  
}
.card img {
  width: 100%;
  height: auto;
}
table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}